<!--
@fileOverview ./app/scripts/statuses/202/partials/base.html
 ______  _____  ______
(_____ \(_____)(_____ \
  ____) )  __ _  ____) )
 / ____/ |/ /| |/ ____/
| (____|   /_| | (_____
|_______)_____/|_______)

@description
This file represents a basic interface for 202 responses where designers might 
test out different configurations of the app with a declarative syntax.
-->


<ul>
  <li ng-repeat="cases in caseStrategies">
    <div class="leaf">
      <a 
        role="{{cases.role}}"
        href=”{{cases.uri}}”
        rel="{{cases.type}}" 
      >
        {{cases.hypertextContent}}
      </a>
    </div>
  </li>
</ul>




