<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Block Next</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- build:css(.) styles/vendor.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css(.tmp) styles/main.css-->
    <link rel="stylesheet" href="/styles/css/main.css" />
    <!--<link type="text/css" rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />-->
    <!--<link rel="stylesheet" href="/scripts/ext/esri-leaflet-geocoder.css" />-->
    <!--<link rel="stylesheet" href="/scripts/ext/angular-material.min.css" />-->
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Abel&amp;effect=fire|3d-float" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- endbuild-->
    <base href="/">
  </head>
  <body ng-class="pageName">
    <!--if lt IE 7
    p.browsehappy
      | You are using an
      strong outdated
      |  browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    -->
    <div class="header font-effect-3d-float">
      <div role="navigation" class="navbar navbar-default">
        <div class="inner">
          <div class="navbar-header"><a href="/" class="navbar-brand"><img src="/images/logo.png" alt="Block Next"></a></div>
          <div class="collapse">
            <div class="menu"><a ng-click="toggleMenu()">=</a></div>
            <ul id="menu" ng-show="showMenu" ng-class='{ "visible": !showMenu }' class="nav navbar-nav">
              <li class="active"><a href="#why" ng-click="scrollTo('why')">Why Block Next</a></li><!--li a(ng-click="scrollTo('how')") How it works -->
              <li><a href="#success" ng-click="scrollTo('success')">Products</a></li>
              <li><a href="#faq" ng-click="scrollTo('faq')">Learn More</a></li><!--li a(ng-href='/services/chat') Chat -->
              <!--li a(ng-click="scrollTo('roi')") Sell Bitcoin span ($534.34 USD) -->
              <!--li | <a ng-hide-auth ng-href='/services/login'>Login</a> | <a ng-show-auth href='#/account'>Account</a>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="home--masthead font-effect-3d-float">
        <div class="inner">
          <h1 title="Finance à la mode.">Block Next</h1>
          <p>The future of Internet finance</p>
        </div>
      </div>
      <div ng-view=""></div>
    </div>
    <div class="footer">
      <div class="container">
        <ul style="display: none;">
          <li><a href="#/sitemap">Sitemap</a></li>
          <li><a href="#/privacy-policy">Privacy Policy</a></li>
          <li><a href="#/terms-of-service">Terms of Service</a></li>
        </ul>
        <p><span class="glyphicon glyphicon-heart"></span> <a href="http://blocknext.com">Block Next</a>. &copy; 2016. All Rights Reserved.</p>
      </div>
    </div>

    <!--if lt IE 9
    script(src='scripts/ext/es5-shim.js')
    script(src='scripts/ext/json3.js')
    -->
    <!-- build:js(.) scripts/vendor.js-->
    <!-- bower:js-->
    <!-- endbower-->
    <!-- endbuild-->

    <!-- build:js({.tmp,app}) scripts/scripts.js-->
    <!-- endbuild-->

    <script data-main="scripts/boot.js" src="scripts/ext/require.js"></script>
<!--
   -    <script>
   -    (function (i, s, o, g, r, a, m) {
   -         i['GoogleAnalyticsObject'] = r;
   -         i[r] = i[r] || function () {
   -             (i[r].q = i[r].q || []).push(arguments)
   -         }, i[r].l = 1 * new Date();
   -         a = s.createElement(o),
   -         m = s.getElementsByTagName(o)[0];
   -         a.async = 1;
   -         a.src = g;
   -         m.parentNode.insertBefore(a, m)
   -     })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
   -
   -     ga('create', 'UA-77199411-2', 'blocknext.com');
   -     ga('send', 'pageview');
   -    </script>
   -->
    <!-- @exclude-->
    <!--<script type="text/javascript" src="http://localhost:8080/livereload.js?snipver=1"></script>-->
    <!-- @endexclude-->
  </body>
</html>
