<div class="cta--columnar--default home--learn">
  <div class="primary">
    <figure>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J6lzs9MysyA" frameborder="0" allowfullscreen></iframe>
      <figcaption>
      <p>
      Block Next offers a way to use technology and global culture to empower individuals universally and give them the access to financial tools to help them realize their dreams. 
      </p>
    </figure>
  </div>
  <div class="secondary">
    <div class="inner">
      <h2>Purpose</h2>
      <p>
      We provide a suite of financial services built on the internet of value. The products offered by Block Next will fulfill the banking needs of 90 percent of the world, specifically allowing the unbanked, underbanked, and the bottom of the pyramid to reach financial goals and participate in the global economic system.
      </p>
      <!--<h3>How much do you want to invest?</h3>-->
      <form>
        <!--
           -<div class="field">
           -  <select>
           -    <option value="">Click to Select Amount</option>
           -  </select>
           -</div>
           -->
        <div class="field action">
          <button ng-href="mailto:info@blocknext.com">
            Request More Info
            <!--<span class="fa fa-star"></span>-->
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--div class="cta--columnar--triple home--benefits font-effect-3d-float">
  <ul>
    <li>
      <div class="benefit--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Bank in a Box&#8482;</h2>
      <p>
      This physical access point, provided by Federated Hardware, provides a place to use our financial services and access the global economy. It also provides wireless access to educational materials and guides to provide assistance to users wanting to know more about the philosophy and technology behind Block Next and the new worldwide system. 
      </p>
    </li>
    <li>
      <div class="benefit--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Asset Security Systems - Real world property as digital value</h2>
      <p>
      Block Next gives you tools that securely convert real-world assist into digital assists. It provides digital notarization of titles and other documents to assist in proving ownership and value, as well as aiding in fraud prevention. 
      </p>
    </li>
    <li>
      <div class="benefit--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Fraud Mitigation - Systems integrated with security</h2> 
      <p>
      Block Next uses Distributed Hash Table Architecture that guarantees transaction fidelity and security. Every transaction is traceable and auditable. This provides clear and useful records and unparalleled security.
      </p>
    </li>
  </ul>
</div-->

<div class="home--why">
  <h1 id="why">Vision</h1>
  <p>
  Block Next aims to use technology to change the current polarized economy into a level playing field by empowering individuals from all over the world, and specifically developing countries, to participate in a global finance system. 
  </p>
  <p>
  By eliminating the need to have a bank account or specific technical equipment such as a computer, Block Next systems form the backbone of the next global economy. This revolutionary finance system will provide universal access to fair trade, fair exchange, goods, and services that previously, through existing banking systems, have been reserved for the economically advantaged. 
  </p>
  <p>
  In addition to preventing fraud through digital asset verification, Block Next helps prevent fraud by providing a reliable system of documenting all transactions. This is especially important in developing countries where a lack of infrastructure can lead to account and transaction tampering, a situation where the unbanked and underbanked are at distinct disadvantage. 
  </p>
</div>

<!--div class="home--tale">
  <h2>A tale of two investments</h2>
  <h3>Here's why it makes sense to lend bitcoin as a private lender:</h3>
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="wide person-header">Joe</th>
        <th class="wide person-header">Jim</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="item-header">Investment strategy</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Term</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Rate of return</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Total earnings</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
    </tbody>
  </table>
</div-->

<div class="cta--columnar--default home--max">
  <div class="primary">
    <p>Bank in the Box systems eliminate the need for personal computers to access global finance systems. They also serve as a way to educate and inform anyone who wants to know more about how the technology works or the philosophy behind it.</p> 
  </div>
  <div class="secondary">
    <p><img class="" style="width: 100%" src="/images/bank-in-box.png" /></p>
    <form>
      <!--
         -<div class="field">
         -  <select>
         -    <option value="">Click to Select Amount</option>
         -  </select>
         -</div>
         -->
      <div class="field action">
        <!--button ng-click="scrollTo('roi')">
          Loan Bitcoin
          <span class="fa fa-star"></span>
        </button-->
      </div>
    </form>
  </div>
</div>

<!--div class="cta--columnar--quad home--how font-effect-3d-float">
  <header>
    <h1 id="how">How it works</h1>
  </header>
  <ul>
    <li>
      <div class="explanation--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Join Our Network</h2>
      <p>No personal computer necessary. No learning curve.</p>
    </li>
    <li>
      <div class="explanation--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Document Your Property</h2>
      <p>Digital signatures to securely sign your assets.</p>
    </li>
    <li>
      <div class="explanation--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Digital Asset Verification</h2>
      <p>Removing the disadvantages to the unbanked world.</p>
    </li>
    <li>
      <div class="explanation--symbol-4"><span class="fa fa-star"></span></div>
      <h2>Empower Financial Dreams</h2>
      <p>Bringing financial tools to shape your economic destiny.</p>
    </li>
  </ul>
</div-->

<div class="home--saying">
  <h1 id="success">Products</h1>
  <ul>
    <li>
      <figure>
        <div class="quote--container left">
          <img src="/images/benefit-1.jpg" />
        </div>
        <figcaption>
          <blockquote>
            <h2>Bank in a box</h2>
            <p>This physical access point, provided by Federated Hardware, provides a place to use our financial services and access the global economy. It also provides wireless access to educational materials and guides to provide assistance to users wanting to know more about the philosophy and technology behind Block Next and the new worldwide system.</p> 
            <div class="key-features">
              <h3>Key Features:</h3>
              <ul>
                <li>Federated Hardware Secured via the Blockchain's Distributed Hash Table Architecture and Trustless concensus mechanism.</li>
                <li>Transaction Record Endpoint and verification system.</li>
                <li>"Book of Knowledge" Blade - The best and most valueable open-source tools for learning and education.</li>
                <li>Financial Tools for Digital Cash, Lending, borrowing, and Asset Recording, storage and management.</li>
              </ul>
            </div>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="quote--container right">
          <img src="/images/benefit-2.jpg" />
        </div>
        <figcaption>
          <blockquote>
            <h2>Next Kiosk</h2>
            <h3>Real world property as digital value</h3>

            <p>Block Next gives you tools that securely convert real-world assist into digital assists. It provides digital notarization of titles and other documents to assist in proving ownership and value, as well as aiding in fraud prevention.</p> 
            <div class="key-features">
              <h3>Key Features:</h3>
              <ul>
                <li>Industry Standard ATM Hardware security</li>
                <li>Fault-Tolerant, Fraud-Resistant Transaction Mechanism</li>
                <li>Voucher/Receipt Printer</li>
                <li>Card Acceptor/reader</li>
                <li>2-Way bill acceptor</li>
              </ul>
            </div>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="quote--container left">
          <img style="width: 50%" src="/images/benefit-3.jpg" />
        </div>
        <figcaption>
          <blockquote>
            <h2>Fraud Mitigation</h2>
            <h3>Systems integrated with security</h3>
            <p>Block Next uses Distributed Hash Table Architecture that guarantees transaction fidelity and security. Every transaction is traceable and auditable. This provides clear and useful records and unparalleled security.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>


<!--div class="cta--columnar--quad home--numbers font-effect-3d-float">
  <h1>The numbers that matter to you</h1>
  <ul>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
  </ul>
</div-->

<div class="cta--columnar--default home--select">
  <div class="primary">
    <p>Asset Security Systems give individuals a way to document their real world property in a secure digital form. This can help not only with practical things such as proving value and ownership, but prevent fraud that can occur in less secure systems.</p> 
  </div>
  <div class="secondary">
    <p><img class="" style="width: 75%" src="/images/workflow-constructs.png" /></p>
    <form>

      <!--
         -<div class="field">
         -  <select>
         -    <option value="">Click to Select Amount</option>
         -  </select>
         -</div>
         -->
      <div class="field action">
        <!--button ng-click="scrollTo('roi')">
          Loan Bitcoin
          <span class="fa fa-star"></span>
        </button-->
      </div>
    </form>
  </div>
</div>

<div class="home--faq">
  <h1 id="faq">Frequently asked questions</h1>
  <ul>
    <li>
      <figure>
        <div class="question--container">
          What is security?
        </div>
        <figcaption>
          <blockquote>
            <p>Traditionally, Security has been spread across many service providers to combat a variety of attack vectors to centralized data systems.  Advancements in storage capacity, Cryptography, and Network Protocols now allow us to bring you a revolution in data security.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What is trustlessness?
        </div>
        <figcaption>
          <blockquote>
            <p>Trust is hard to build, trust yourself and your data first.  Our fully auditable architecture gives you the ability to have eyes and ears on the systems that govern your data.  Trusted 3rd parties such as banks, online merchants, and social media websites have troves of data that rightfully belongs to you.  Take back that control.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What is consensus?
        </div>
        <figcaption>
          <blockquote>
            <p>Consensus is simply the act of saying "I Agree".  This can be incredibly hard for some things like voting for a political candidate, and incredibly easy for some things - like agreeing that a financial transaction occurred properly.  Block Next allows the flexibility of numerous concensus mechanisms with different parameters, confirmation times and transaction histories.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What is a blockchain?
        </div>
        <figcaption>
          <blockquote>
            <p>A blockchain is a cryptographically linked series of digital paper.  Write anything you wish to store securely in an anti-fragile digital environment.  Access your most important information from any federated node without any form of brute-force security exposure.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>

<!--div id="roi" class="home--roi">
  <div class="inner">
  <h1>Bitcoin Exchange Calculator</h1>
  <div class="content">
    <div class="field">
      <label for="">
        How many bitcoins?
      </label>
      <div>
        <input
          ng-model="roiForm.loanAmount"
          placeholder="USD"
        />
      </div>
    </div>
    <div class="field">
      <label for="">
        Interest?
      </label>
      <div>
        <input
          ng-model="roiForm.loanRate"
        /> <span class="fixture percentage">%</span>
      </div>
    </div>
    <div class="field">
      <label for="">
        What is the ideal term for your loan?
      </label>
      <div>
        <input
          ng-model="roiForm.loanTerms"
        /> <span class="fixture date">months</span>
      </div>
    </div>
    <div class="field action">
      <button ng-click="scrollTo('roi--profile'); updateLoanProfile()">
        Continue
      </button>
    </div>
  </div>
  </div>
</div>

<div id="roi--profile" class="home--roi">
  <div class="inner">
  <h1>Tell us about yourself</h1>
  <div class="content">
    <div class="field">
      <label for="">
        Name
      </label>
      <div>
        <input ng-model="roiForm.lenderName" />
      </div>
    </div>
    <div class="field">
      <label for="">
        E-mail Address
      </label>
      <div>
        <input ng-model="roiForm.lenderEmail" />
      </div>
    </div>
    <div class="field">
      <label for="">
        Phone Number
      </label>
      <div>
        <input ng-model="roiForm.lenderPhone" />
      </div>
    </div>
    <div class="field action">
      <button ng-click="scrollTo('roi--finish')">
        Submit
      </button>
    </div>
  </div>
  </div>
</div>

<div id="roi--finish" class="home--roi">
  <div class="inner">
    <div class="input-section">
      <div class="primary">
        <h1>ROI Calculator</h1>
        <div class="field">
          <label for="">
            Loan Amount
          </label>
          <div>
            <input ng-model="roiForm.loanAmount" placeholder="USD" />
          </div>
        </div>
        <div class="field">
          <label for="">
            Interest Rate
          </label>
          <div>
            <input ng-model="roiForm.loanRate" /> <span class="fixture percentage">%</span>
          </div>
        </div>
        <div class="field">
          <label for="">
            Loan Terms
          </label>
          <div>
            <input ng-model="roiForm.loanTerms" /> <span class="fixture date">months</span>
          </div>
        </div>
        <div class="field subaction">
          <button ng-click="">
            Update
          </button>
        </div>
      </div>
      <div class="secondary">
        <h2>Total Return</h2>
        <div loan-total-return loan-data="loanData">
          <div id="wrapper"></div>
        </div>
        <div ng-show="!loanData">
          <p>Give us your principal, rate, and terms, and we'll do the rest!</p>
        </div>
      </div>
    </div>

    <h3><span class="fa fa-shield"></span> Become a Private Bitcoin Lender Today</h3>

    <p>Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <br />

    <div class="field field--lender__type">
      <md-input-container>
        <label>Which best describes you?</label>
        <md-select ng-model="roiForm.lenderType">
          <md-option ng-repeat="lenderType in lenderTypes" value="{{lenderType.abbrev}}">
            {{lenderType.title}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="field nationwide field--lender__nationwide">
      <label for="roi--nationwide--yes">
        Are you available to lend to investors nationwide?
      </label>
      <div class="inline">
        <md-radio-group ng-model="roiForm.nationwide">
          <md-radio-button id="roi--nationwide--yes" value="Yes" class="md-primary">Yes</md-radio-button>
          <md-radio-button id="roi--nationwide--no" value="No">No</md-radio-button>
        </md-radio-group>
      </div>
    </div>

    <div class="field action">
      <button ng-click="submitApplication(roiForm)">
        Submit Application
      </button>
    </div>
  </div>
</div-->

<!--leaflet 
  id="index" 
  lf-center="center" 
  width="100%" 
  height="680px"
  defaults="defaults"
></leaflet-->

<!--form class="simple-search">
  <div class="field">
    <label for="query"></label>
    <input ng-model="query" id="query" placeholder="Filter visible properties..." />
  </div>
  <div class="field action">
    <md-input-container>
      <label>View By</label>
      <md-select ng-model="queryBy">
        <md-option value="price">
          Price
        </md-option>
        <md-option value="streetAddress">
          Street
        </md-option>
      </md-select>
    </md-input-container>
    <button>
      <span class="fa fa-search"></span>
    </button>
  </div>
</form-->

<!--div class="home--search--properties">
  <h1 class="~font-effect-fire" title="Track areas that correlate with your earnings and investor performance!">Hot Deals</h1>
  <p>Have you recently calculated an <abbr title="Return On Investment">ROI</abbr>? Your next calculation may be better justified by a spot check on the Reactive Market Map (who's who, who you've annotated for loans, etc.)</p>
  <ul class="view--list--properties">
    <li ng-repeat="property in properties | filter:queryFilter">
      <figure>
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" />
        <figcaption>
          <dl>
            <dt title="In days">Age</dt>
            <dd>10</dd>
            <dt>Address</dt>
            <dd>{{property.streetAddress}}</dd>
            <dt>Price</dt>
            <dd>{{property.price}}</dd>
          </dl>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </figcaption>
      </figure>
    </li>
  </ul>
</div-->

<!--div class="home--repair--ideas font-effect-3d-float">
  <h1 class="~font-effect-3d-float">Book Ideas</h1>
  <p>Have you recently connected with a new investor? Send them some tips!</p>
  <ul class="view--list--books">
    <li ng-repeat="book in bookIdeas" ng-if="$index < 6">
      <figure id="{{book.ASIN[0]}}">
        <h2><a href="{{book.DetailPageURL[0]}}" rel="external" target="_blank">{{book.ItemAttributes[0].Title[0]}}</a></h2>
        <figcaption>
          <span class="author">
            {{book.ItemAttributes[0].Author[0] || "No author listed."}}
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
</div-->

<div class="home--questions">
  <h1>Have more questions?</h1>
  <p>
    <a href="mailto:info@blocknext.com">
      Contact Us
    </a>
  </p>
</div>
